

* {
  box-sizing: border-box;
  transition: all ease .2s;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #8C11BE;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Saira Stencil One', cursive; */
}